.CurrencyTable {
    width: 100%;
    margin-top: 30px;

    &__grid {
        border: 1px solid var(--secondary-color);
        max-width: 800px;
    }

    &__button {
        margin: 10px;
    }
}
