.Sidebar {
  height: calc(100vh - 52px);
  padding: 16px 0 16px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 52px;
  background-color: #FAFAFA;

  @media (max-width: 400px) {
    padding: 16px;
  }

  .TreeView {
    display: grid;
    grid-row-gap: 4px;

    &__item-label {
      padding: 8px 0;
      border-radius: 8px;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__logout_btn {
    display: block;
    width: fit-content;
  }
}
