@import 'style/variables';

.LayoutTitle {

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 15px 0 5px;
    min-height: 46px;

    h1 {
      margin-bottom: 0;
    }
  }
}
