.Header {
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;

    border: 1px solid var(--primary-color);

    &__content {
        padding: 1rem;
    }
}
